@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ff0000;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Vujahday Script', cursive;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}