@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: #ff0000;
    color: #fff;
    height: 80px;
    align-items: center;
    padding: 0 30px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 2rem;
    font-family: 'Vujahday Script', cursive;
}

.elements {
    list-style: none;
}

